﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <!--DatePicker stylesheet-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("XSis 2.0", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav mr-auto">
                    <li class="nav-item dropdown">
                        <a class="dropdown-toggle btn" type="button" data-toggle="dropdown" style="color:#F7F7FA">Menu 1 <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Submenu 1</a></li>
                            <li><a href="#">Submenu 2</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="dropdown-toggle btn" type="button" data-toggle="dropdown" style="color:#F7F7FA">Menu 2 <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Submenu 1</a></li>
                            <li><a href="#">Submenu 2</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="dropdown-toggle btn" type="button" data-toggle="dropdown" style="color:#F7F7FA">Menu 3 <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Submenu 1</a></li>
                            <li><a href="#">Submenu 2</a></li>
                        </ul>
                    </li>
                </ul>

                <div class="dropdown menu-akun">
                    <a class="dropdown-toggle btn" type="button" data-toggle="dropdown" style="color:#F7F7FA">Admin <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Ganti Password</a></li>
                        <li><a href="#">Logout</a></li>
                    </ul>
                </div>

            </div>
        </div>
    </div>

    <!-- Header -->
    <div class="title-bar content header">
        <h1>XSIS 2.0</h1>
    </div>
    <!-- /header -->
    <div class="container-fluid row">
        <div class="d-flex col-md-3 col-sm-12" id="wrapper">

            <!-- Sidebar -->
            <div class="border-right" id="sidebar-wrapper" style="margin-left:10px">
                <div class="list-group list-group-flush">
                    <a href="#" class="list-group-item list-group-item-action bg-light">Beranda</a>
                    <a href="@Url.Action("Index","Pelamar")" class="list-group-item list-group-item-action bg-light">Pelamar</a>
                    <a href="#" class="list-group-item list-group-item-action bg-light">Proses Pelamar</a>
                    <a href="#" class="list-group-item list-group-item-action bg-light">Penjadwalan</a>
                    <a href="#" class="list-group-item list-group-item-action bg-light">Tes</a>
                    <a href="#" class="list-group-item list-group-item-action bg-light">Bootcamp</a>
                    <a href="#" class="list-group-item list-group-item-action bg-light">Laporan</a>
                </div>
            </div>
            <!-- /#sidebar-wrapper -->
        </div>
        <!-- Page Content -->
        <div class="container d-flex col-md-9 content body-content" style="max-width:70%">
            @RenderBody()
            @Html.Partial("ModalPopup")
        </div>
    </div>
    <hr />
    <footer>
        <p style="margin-bottom:0px">&copy; @DateTime.Now.Year - Xsis 2.0 Bootcamp 234</p>
    </footer>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/commonfunction")
    @RenderSection("scripts", required: false)
    

    <!--datepicker plugin script-->
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
</body>
</html>