﻿<!-- modal popup bootstrap - Edit Form -->
<!-- modal popup bootstrao - Popup Dosen -->
<div id="modal-form-list-menu" class="modal fade" role="dialog">
    <div class="modal-dialog" style="width:1200px">

        <!-- Modal Content -->
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header" style="background-color:#000066;color:white;">
                <button class="close close-list-modal" data-dismiss="modal" style="color:white">&times;</button>
                <h4 class="modal-title">
                    Judul Popup
                </h4>
            </div>

            <!-- Modal Body dan Footer -->
            <div class="row">
                <!-- Body menu kiri -->
                <div class="col-md-2" style="padding-top:15px;padding-left:27px">
                    <div class="list-group">
                        
                        <a class="btn btn-list-modal list-group-item details_list_item" id="item_Profile">Profile</a>
                        <a class="btn btn-list-modal list-group-item details_list_item" id="item_Biodata">Biodata</a>
                        <a class="btn btn-list-modal list-group-item details_list_item" id="item_PengalamanKerja">Pengalaman Kerja</a>
                        <a class="btn btn-list-modal list-group-item details_list_item" id="item_Pendidikan">Pendidikan</a>
                        <a class="btn btn-list-modal list-group-item details_list_item" id="item_Pelatihan">Pelatihan</a>
                        <a class="btn btn-list-modal list-group-item details_list_item" id="item_Sertifikasi">Sertifikasi</a>
                        <a class="btn btn-list-modal list-group-item details_list_item" id="item_SumberLowonganKerja">Sumber Lowongan Kerja</a>
                        <a class="btn btn-list-modal list-group-item details_list_item" id="item_Organisasi">Organisasi</a>
                        <a class="btn btn-list-modal list-group-item details_list_item" id="item_Keluarga">Keluarga</a>
                        <a class="btn btn-list-modal list-group-item details_list_item" id="item_Keahlian">Keahlian</a>
                        <a class="btn btn-list-modal list-group-item details_list_item" id="item_Lainlain">Lain-lain</a>
                        <a class="btn btn-list-modal list-group-item details_list_item" id="item_Dokumen">Dokumen</a>
                        <a class="btn btn-list-modal list-group-item details_list_item" id="item_Catatan">Catatan</a>
                        <a class="btn btn-list-modal list-group-item details_list_item" id="item_AktivasiAkun">Aktivasi Akun</a>
                        <a class="btn btn-list-modal list-group-item details_list_item" id="item_LihatTes">Lihat Tes</a>
                        <a class="btn btn-list-modal list-group-item details_list_item" id="item_HasilTes">Hasil Tes</a>
                    </div>
                </div>
                <!-- Body Content -->
                <div class="col-lg-10" style="margin-left: -25px">
                    <div class="modal-bind-content-list-menu"
                         id="details_pelamar_id" style="padding: 15px;">
                        @*ini content*@
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>

<div class="modal fade modal-form" id="modal-form" role="dialog">
    <div class="modal-dialog" style="width:850px">
        <!-- modal content -->
        <div class="modal-content">
            <!-- modal header -->
            <div class="modal-header" id="modal-header" style="background-color:#000066">
                <button class="close" data-dismiss="modal" id="modal_form_button_close" style="color:white">
                    &times;
                </button>
                <h4 class="modal-title" id="modal-title"
                    style="font-weight: bold; color: antiquewhite;">
                </h4>
            </div>
            <!-- modal body dan footer -->
            <div class="div-bind-form" id="div-bind-form">

            </div>
        </div>
    </div>
</div>

<div class="modal fade modal-form-delete" id="modal-form-delete" role="dialog">
    <div class="modal-dialog" style="height: 120px;width:500px">
        <!-- modal content -->
        <div class="modal-content center">
            <!-- modal header -->
            <div class="modal-header" id="modal-header" style="background-color:#990000">
                <button class="close" data-dismiss="modal" id="modal_form_button_close" style="color:white">
                    &times;
                </button>
                <h4 class="modal-title" id="modal-title"
                    style="font-weight:bold; color:antiquewhite;">
                </h4>
            </div>
            <!-- modal body dan footer -->
            <div class="div-bind-form" id="div-bind-form" style="padding-top:20px">

            </div>
        </div>
    </div>
</div>

<style>
    .btn-list-modal{
        text-align: initial;
    }
    .btn{
        font-size: 12px;
    }
    .btn:hover,
    .btn:focus {
        color: #6C6CC5;
    }
</style>