﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel-group">
    <div class="panel">
        <div class="panel-heading" style="background-color:white;">
            <div>
                <input style="display:inline-block; max-width:520px; border: 2px solid #050569" type="text" class="form-control inline" placeholder="Nama Pelamar" id="txt_search" name="txt_search" />
                <button class="btn btn-primary" id="btn_search" name="btn_search" title="Cari" style="background-color: #050569">
                    Cari
                </button>
                <button id="btn_reset" name="btn_reset" class="btn btn-primary" title="Reset Filter" style="background-color: #050569">
                    Reset
                </button>
            </div>
        </div>

        <div class="panel-body">
            <div class="container">
                <div style="float:right">
                    <button id="btn_create" style="margin-left: 5px" name="btn_tambah" class="btn btn-link" title="Tambah Data">
                        <span style="color:#050569" class="glyphicon glyphicon-plus-sign"></span>
                    </button>
                </div>

                <div class="dropdown" style="float:right">
                    <button id="btn_paging" style="margin-left: 5px; margin-right:5px" name="btn_paging" class="btn btn-link dropdown-toggle" title="Row Per Page" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span style="color:#050569" class="glyphicon glyphicon-align-justify"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <li><a value="10" onclick="SizePage(10)" class="dropdown-item" href="#">10</a></li>
                        <li><a value="20" onclick="SizePage(20)" class="dropdown-item" href="#">20</a></li>
                        <li><a value="30" onclick="SizePage(30)" class="dropdown-item" href="#">30</a></li>
                        <li><a value="40" onclick="SizePage(40)" class="dropdown-item" href="#">40</a></li>
                    </ul>
                </div>
                <div style="float:right">
                    <button id="btn_order" style="margin-left: 5px; margin-right:5px" name="btn_reset" class="btn btn-link" title="Sort Order">
                        <span style="color:#050569" class="glyphicon glyphicon-sort-by-alphabet"></span>
                    </button>
                </div>
            </div>

            <div id="table-list" name="table-list">
                @Html.Partial("List")
            </div>
        </div>
    </div>

</div>


@section Scripts{
    <script type="text/javascript">
        var vjs_loading = '<div class="progress progress-striped active" style="margin-bottom:0"> <div class="progress-bar" style="width:100%"> </div> </div>';
        var vjs_search = '';
        var vjs_order = 1;
        var vjs_paged_currentPage;
        var vjs_paged_lastRecordPerPage;

        $(document).ready(function () {
        });

        //Showlist Pelamar
        function ShowList() {
            vjs_paged_lastRecordPerPage = $("#paging-size").val() == undefined ? 10 : $("#paging-size").val();
            $("#table-list").html(vjs_loading)
            vjs_search = $("#txt_search").val();
            $.ajax({
                url: '@Url.Action("List", "Pelamar")',
                type: 'get',
                data: {
                    paramSearch: vjs_search,
                    order: vjs_order,
                    paramPage: vjs_paged_currentPage,
                    paramPageSize: vjs_paged_lastRecordPerPage
                },
                success: function (result) {
                    $("#table-list").html(result);
                }
            });
        };

        //List Kosong
        function EmptyList() {
            $.ajax({
                url: '@Url.Action("None", "Pelamar")',
                type: 'get',
                success: function (result) {
                    $("#table-list").html(result)
                }
            })
        }

        //Tombol Search
        $(document).on("click", "#btn_search", function () {
            vjs_search = $("#txt_search").val();
            if (vjs_search == '') {
                alert('Masukkan nama yang ingin dicari!');
            }
            else {
                ShowList();
            }
        });

        //tombol reset
        $(document).on("click", "#btn_reset", function () {
            $("#txt_search").val("");
            EmptyList();
        });

        //tombol Paging
        function PagedPageMove(pPage) {
            vjs_paged_currentPage = pPage;
            ShowList();
        }

        //Size Paging
        function SizePage(pRecordPage, pCurrentPage) {
            vjs_rowPerPage = pRecordPage;
            vjs_paged_currentPage = pCurrentPage;
            ShowList;
        }

        // tombol order asc desc
        $(document).on("click", "#btn_order", function () {
           vjs_search = $("#txt_search").val();
            if (vjs_search != '' ){
                if (vjs_order == 1) {
                    vjs_order = 0;
                    ShowList();
                }
                else {
                    vjs_order = 1;
                    ShowList();
                }
            }
        });

        //Disable Actived Link
        function DisableActiveLink() {
            $("#item_Profile").removeClass("active");
            $("#item_Biodata").removeClass("active");
            $("#item_PengalamanKerja").removeClass("active");
            $("#item_Pendidikan").removeClass("active");
            $("#item_Pelatihan").removeClass("active");
            $("#item_Sertifikasi").removeClass("active");
            $("#item_SumberLowonganKerja").removeClass("active");
            $("#item_Organisasi").removeClass("active");
            $("#item_Keluarga").removeClass("active");
            $("#item_Keahlian").removeClass("active");
            $("#item_Lainlain").removeClass("active");
            $("#item_Dokumen").removeClass("active");
            $("#item_Catatan").removeClass("active");
            $("#item_AktivasiAkun").removeClass("active");
            $("#item_LihatTes").removeClass("active");
            $("#item_HasilTes").removeClass("active");
        }

        //Button Details
        $(document).on("click", "#btn_grid_details", function () {
            DisableActiveLink();
            $("#modal-form-list-menu").modal("show");
            $(".modal-title").html("Detil Pelamar");
            $(".modal-bind-content-list-menu").html(vjs_loading);
            debugger;
            var vjs_idPelamar = $(this).attr("data-id");
            $.ajax({
                url: '@Url.Action("List", "Sertifikasi")',
                type: 'get',
                data: { paramPelamar: vjs_idPelamar },
                success: function (result) {
                    $("#item_Profile").addClass("active");
                    $(".modal-bind-content-list-menu").html(result);
                }
            });
        });

        //Button Close Modal Form
        $(document).on("click", "#modal_form_button_close", function () {
            ShowModalDetailsSertifikasi();
            $(".modal-form").modal("hide");
        });

        //Button Cancel Modal Form
        $(document).on("click", "#btn_cancel_form", function () {
            ShowModalDetailsSertifikasi();
            $(".modal-form").modal("hide");
        });

        //Button Close Modal List
        $(document).on("click", ".close-list-modal", function () {
            DisableActiveLink();
        });

//#region ListDetailsPelamar

    //#region ModulSertifikasi


    //Button Link Sertifikasi
    $(document).on("click", "#item_Sertifikasi", function () {
        $("#modal-form-list-menu").modal("show");
        $(".modal-title").html("Detil Pelamar");
        DisableActiveLink();
        $("#item_Sertifikasi").addClass("active");
        $(".modal-bind-content-list-menu").html(vjs_loading);
        //var vjs_id =  $("#details_pelamar_id").attr("data-id");
        $.ajax({
            url: '@Url.Action("List", "Sertifikasi")',
            type: 'get',
            data: { paramIdPelamar: vjs_id },
            success: function (result) {
                $(".modal-bind-content-list-menu").html(result);
            }
        });
    });

    //Function ShowModalDetails Sertifikasi
    function ShowModalDetailsSertifikasi(){
        $("#modal-form-list-menu").modal("show"); //Show List Modal
        $(".modal-title").html("Detil Pelamar");
        $(".modal-bind-content-list-menu").html(vjs_loading);
        //$("#details_biodata_id").attr("data-id", $(this).attr("data-id")); //Navigasi Menu Dosen

        var vjs_idPelamar = $(this).attr("data-id");
        $.ajax({
            url: '@Url.Action("List", "Sertifikasi")', //Show List Sertifikasi
            type: 'get',
            data: { paramIdPelamar: vjs_idPelamar },
            success: function (result) {
                $("#item_Sertifikasi").addClass("active");
                $(".modal-bind-content-list-menu").html(result);
            }
        });
    }

    //Button Create Sertifikasi
    $(document).on("click", ".button_grid_create_sertifikasi", function () {
        $("#modal-form").modal("show");
        $(".modal-title").html("Tambah Sertifikasi");
        $(".div-bind-form").html(vjs_loading);

        $.ajax({
            url: '@Url.Action("Create", "Sertifikasi")',
            type: 'get',
            success: function (result) {
                $(".div-bind-form").html(result);
                $("#modal-form-list-menu").modal("hide");
            }
        });
    });

    //Button Add Save Create Sertifikasi
    $(document).on("click", "#btn_add_save_sertifikasi", function (e) {

        var item = {
            biodata_id: 1,
            created_by: 1,
            certificate_name: $("#certificate_name").val(),
            publisher: $("#publisher").val(),
            is_delete: $("#is_delete_Value").val(),
            valid_start_year: $("#valid_start_year").val(),
            valid_start_month: $("#valid_start_month").val(),
            until_year: $("#until_year").val(),
            until_month: $("#until_month").val(),
            notes: $("#notes").val(),
            is_delete: false
        };

        //Validation Year
        var vjs_start_year = $("#valid_start_year").val();
        var vjs_end_year = $("#until_year").val();
        var vjs_start_month = $("#valid_start_month").val();
        var vjs_end_month = $("#until_month").val();

        validate = vjs_start_year <= vjs_end_year;

        $.ajax({
            url: '@Url.Action("Create", "Sertifikasi")',
            type: 'post',
            data: { paramModel: item },
            success: function (result) {
                if (result.success) {
                    if (validate) {
                        $(".div-bind-form").html(vjs_loading);
                        ShowModalDetailsSertifikasi();
                        $(".modal-form").modal("hide");
                    }
                    else {
                        if (vjs_start_year == vjs_end_year) {
                            if (vjs_start_month > vjs_end_month) {
                                $("#untilmonth_error").html("Bulan berlaku tidak sesuai dengan tanggal mulai berlaku");
                                e.preventDefault();
                                FormValidation(result.message);
                            }
                            else{
                                $("#untilyear_error").html("Bulan berlaku tidak sesuai dengan tanggal mulai berlaku");
                                e.preventDefault();
                                FormValidation(result.message);
                            }
                        }
                        else{
                            $("#untilyear_error").html("Tahun tidak valid dengan tanggal mulai berlaku");
                            e.preventDefault();
                            FormValidation(result.message);
                        }
                    }
                }
                else {
                    FormValidation(result.message);
                }
            }
        });
    });

    //Button Edit Sertifikasi
    $(document).on("click", "#btn_grid_edit_sertifikasi", function () {
        $("#modal-form").modal("show"); //Menampilkan modal / pop-up
        $(".modal-title").html("Sertifikasi"); //
        $(".div-bind-form").html(vjs_loading);

        /* Membuat variabel dari tombol edit*/
        var vjs_id_sertifikasi = $(this).attr("data-id");
        $.ajax({
            url: '@Url.Action("Edit","Sertifikasi")',
            type: 'get',
            data: { paramId: vjs_id_sertifikasi },
            success: function (result) {
                $(".div-bind-form").html(result)
                $("#modal-form-list-menu").modal("hide");
            }
        })
    });

    //Button Edit Save Sertifikasi
        $(document).on("click", "#btn_grid_edit_save_sertifikasi", function (e) {
            var vjs_id_sertifikasi = $("#id").val();
            var vjs_deleted_by = 1;
            var vjs_biodata_id = 1;
            var vjs_certificate_name = $("#certificate_name").val();
            var vjs_publisher = $("#publisher").val();
            var vjs_is_delete = false;
            var vjs_valid_start_year = $("#valid_start_year").val();
            var vjs_valid_start_month = $("#valid_start_month").val();
            var vjs_until_year = $("#until_year").val();
            var vjs_until_month = $("#until_month").val();
            var vjs_notes = $("#notes").val();

        validate = vjs_valid_start_year <= vjs_until_year;


    /* Mmebuat variable json / class */
    var item = {
        id: vjs_id_sertifikasi,
        deleted_by: vjs_deleted_by,
        biodata_id: vjs_biodata_id,
        certificate_name: vjs_certificate_name,
        publisher: vjs_publisher,
        is_delete: vjs_is_delete,
        valid_start_year:vjs_valid_start_year,
        valid_start_month:vjs_valid_start_month,
        until_year:vjs_until_year,
        until_month:vjs_until_month,
        is_delete:vjs_is_delete,
        notes: vjs_notes
        };


    $.ajax({
        url: '@Url.Action("EditPost","Sertifikasi")',
        type: 'post',
        data: { paraModel: item },
        success: function (result) {
            if (result.success) {
                if (validate) {
                    $(".div-bind-form").html(vjs_loading);
                    ShowModalDetailsSertifikasi();
                    $("#modal-form").modal("hide");
                }
                else {
                    if (vjs_valid_start_year == vjs_until_year) {
                        if (vjs_valid_start_month > vjs_until_month) {
                            $("#untilmonth_error").html("Bulan berlaku tidak sesuai dengan tanggal mulai berlaku");
                            e.preventDefault();
                            FormValidation(result.message);
                        }
                        else {
                            $("#untilyear_error").html("Bulan berlaku tidak sesuai dengan tanggal mulai berlaku");
                            e.preventDefault();
                            FormValidation(result.message);
                        }
                    }
                    else {
                        $("#untilyear_error").html("Tahun tidak valid dengan tanggal mulai berlaku");
                        e.preventDefault();
                        FormValidation(result.message);
                    }
                }
            }
            else {
                //alert(result.message);
                FormValidation(result.message);
            }
        }
    });
    });

    /* Button Modal Delete Sertifikasi*/
    $(document).on("click", "#btn_grid_delete_sertifikasi", function () {
        $("#modal-form-delete").modal("show"); //Menampilkan modal / pop-up
        $(".modal-title").html("Hapus Sertifikasi ?"); //
        $(".div-bind-form").html(vjs_loading);

        /* Membuat variabel dari tombol edit*/
        var vjs_id_sertifikasi = $(this).attr("data-id");
        $.ajax({
            url: '@Url.Action("Delete","Sertifikasi")',
            type: 'get',
            data: { paramId: vjs_id_sertifikasi },
            success: function (result) {
                $(".div-bind-form").html(result);
                $("#modal-form-list-menu").modal("hide");
            }
        })
    });

    /* Button Confirm Delete */
    $(document).on("click", "#btn_grid_delete_sertifikasi_confirm", function () {
        var vjs_id_sertifikasi = $("#id").val();
        var vjs_deleted_by = $("#deleted_by").val();
        var vjs_deleted_on = $("#deleted_on").val();

    /* Mmebuat variable json / class */
    var item = {
        id: vjs_id_sertifikasi,
        deleted_by: vjs_deleted_by,
        deleted_on: vjs_deleted_on
    };

    $.ajax({
        url: '@Url.Action("Delete","Sertifikasi")',
        type: 'post',
        data: { paraModel: item },
        success: function (result) {
            $(".div-bind-form").html(vjs_loading);
            if (result.success) {
                ShowModalDetailsSertifikasi();
                $("#modal-form").modal("hide");
            }
            else {
                alert(result.message);
            }

        }
    });
});

    //#endregion

    //#region Modul Keluarga

        //Button Link Keluarga
    $(document).on("click", "#item_Keluarga", function () {
        $("#modal-form-list-menu").modal("show");
        $(".modal-title").html("Detil Pelamar");
        DisableActiveLink();
        $("#item_Keluarga").addClass("active");
        $(".modal-bind-content-list-menu").html(vjs_loading);
        //$("#details_biodata_id").attr("data-id", $(this).attr("data-id"));  >> Belum Cuy
        //var vjs_idDosen = $(this).attr("data-id");
        $.ajax({
            url: '@Url.Action("List", "Keluarga")',
            type: 'get',
            //data: { paramIdDosen: vjs_idDosen },
            success: function (result) {
                $(".modal-bind-content-list-menu").html(result);
            }
        });
    });

    //Function ShowModalDetails Keluarga
    function ShowModalDetailsKeluarga(){
        $("#modal-form-list-menu").modal("show"); //Show List Modal
        $(".modal-title").html("Detil Pelamar");
        $(".modal-bind-content-list-menu").html(vjs_loading);
        //$("#details_biodata_id").attr("data-id", $(this).attr("data-id")); //Navigasi Menu Dosen

        //var vjs_idDosen = $(this).attr("data-id");
        $.ajax({
            url: '@Url.Action("List", "Keluarga")', //Show List Sertifikasi
            type: 'get',
            //data: { paramIdDosen: vjs_idDosen },
            success: function (result) {
                $("#item_Keluarga").addClass("active");
                $(".modal-bind-content-list-menu").html(result);
            }
        });
    }

    //Button Create Keluarga
    $(document).on("click", ".button_grid_create_keluarga", function () {
        $("#modal-form").modal("show");
        $(".modal-title").html("Tambah Keluarga");
        $(".div-bind-form").html(vjs_loading);

        $.ajax({
            url: '@Url.Action("Create", "Keluarga")',
            type: 'get',
            success: function (result) {
                $(".div-bind-form").html(result);
                $("#modal-form-list-menu").modal("hide");
            }
        });
    });

    //Button Add Save Create Sertifikasi
    $(document).on("click", "#btn_add_save_keluarga", function () {

        @*var item = {
            biodata_id: 1,
            created_by: 1,
            certificate_name: $("#certificate_name").val(),
            publisher: $("#publisher").val(),
            is_delete: $("#is_delete_Value").val(),
            valid_start_year: $("#valid_start_year").val(),
            valid_start_month: $("#valid_start_month").val(),
            until_year: $("#until_year").val(),
            until_month: $("#until_month").val(),
            notes: $("#notes").val(),
            is_delete: false
        };
        $.ajax({
            url: '@Url.Action("Create", "Sertifikasi")',
            type: 'post',
            data: { paramModel: item },
            success: function (result) {
                $(".div-bind-form").html(vjs_loading);
                if (result.success && until_year <= valid_start_year) {
                    ShowModalDetailsSertifikasi();
                    $(".modal-form").modal("hide");
                }
                else {
                    FormValidation(result.message);
                }
            }
        });*@
    });

    //#endregion

//#endregion

    </script>

}

@*Scripts*@
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>