﻿@model IEnumerable<_03.MiniProject234.ModelView.PelamarModelView>
@using _01.MiniProject234.Web.Models;

@{
    Paging _page = (Paging)ViewData["pg"];
}

@if (Model != null)
{
    foreach (var item in Model)
    {
        <div class="card" style="width: 100%; background-color:white;">
            <div class="card-body">
                <div class="table">
                    <div style="background-color:#ccccff">
                        <div class="row col-lg-12">
                            <div style="padding-left:10px">
                                <h4><b style="color:#050569">@Html.DisplayFor(modelItem => item.fullname)</b></h4>
                            </div>
                        </div>
                        <div class="col-lg-2" style="background-color:#ccccff">
                            <div class="row"><label class="control-label text-muted" style="padding-left:10px">Nama Panggilan</label></div>
                            <div class="row"><label class="control-label text-muted" style="padding-left:10px">Email</label></div>
                            <div class="row"><label class="control-label text-muted" style="padding-left:10px">No. Handphone</label></div>
                            <div class="row"><label class="control-label text-muted" style="padding-left:10px">Pendidikan</label></div>
                        </div>
                        <div class="col-lg-8" style="background-color:#ccccff">
                            <div class="row"><label style="color:#050569">@Html.DisplayFor(modelItem => item.nick_name)</label></div>
                            <div class="row"><label style="color:#050569">@Html.DisplayFor(modelItem => item.email)</label></div>
                            <div class="row"><label style="color:#050569">@Html.DisplayFor(modelItem => item.phone_number1)&nbsp;@Html.DisplayFor(modelItem => item.phone_number2)</label></div>
                            <div class="row"><label style="color:#050569">@Html.DisplayFor(modelItem => item.major),&nbsp;@Html.DisplayFor(modelItem => item.school_name)</label></div>
                        </div>
                        <div class="container" style="background-color:#ccccff">
                            @*<button id="btn_grid_details" style="margin-left: 5px" name="btn_grid_details" class="btn btn-primary" title="Details Modal">
                                Details
                                <span class="glyphicon glyphicon-info-sign"></span>
                            </button>*@
                            <button style="padding-left:40px" title="Details Pelamar" class="btn btn-link btn_grid_details" data-id="@item.id" id="btn_grid_details">
                                <span style="color:#050569;" class="glyphicon glyphicon-search"></span>
                            </button>
                            <button title="Kirim Token" class="btn btn-link btn_grid_token" data-id="@item.id">
                                <span style="color:#050569" class="glyphicon glyphicon-envelope"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    }
    <!-- paging -->
    <tr>
        <td colspan="9">
            <table style="width:100%">
                <tr>
                    @if (_page != null)
                    {

                        if (_page.EndPage > 1)
                        {
                            <td>
                                <center>
                                    <ul class="pagination" style="margin:0px">
                                        @if (_page.CurrentPage > 1)
                                        {
                                            <li>
                                                <a style="height:45px;border-radius:30px; width:130px; border-color:#050569;color:#050569;margin-left:-90px;padding-top : 10px" href="#" onclick="PagedPageMove(@_page.CurrentPage-1)">
                                                    <span class="glyphicon glyphicon-arrow-left"></span>
                                                    Previous

                                                </a>
                                            </li>
                                            @*<li>
                                                    <a href="#" onclick="PagedPageMove(@_page.CurrentPage +1)">Next</a>
                                                </li>*@
                                        }
                                        @if (_page.CurrentPage < _page.TotalPages)
                                        {
                                            @*<li>
                                                    <a href="#" onclick="PagedPageMove(@_page.TotalPages-1)">Previous</a>
                                                </li>*@
                                            <li style="float:right">
                                                <a style="height:45px;border-radius:30px; width:130px;color:#050569; border-color:#050569; margin-left:-130px; padding-top : 10px" href="#" onclick="PagedPageMove(@_page.CurrentPage+1)">
                                                    Next
                                                    <span class="glyphicon glyphicon-arrow-right"></span>
                                                </a>
                                            </li>

                                        }

                                    </ul>
                                </center>
                            </td>
                        }
                    }
                </tr>
            </table>
        </td>
    </tr>
}