﻿@model _03.MiniProject234.ModelView.KeluargaModelView

<div class="modal-body" style="margin-left:20px;margin-right:20px">
    <div class="container py-5">
        <div class="col-md-12">
            <form id="form_create_keluarga">
                <div class="form-group row">
                    <div class="col-sm-6">
                        <label class="control-label" style="color: #023692">Jenis&nbsp;Susunan&nbsp;Keluarga&nbsp;*</label>
                        @Html.DropDownListFor(model => model.familyTreeTypeId, (IEnumerable<SelectListItem>)ViewBag.ListFamilyTree, "- Pilih -", new { @class = "form-control", @style = "width: 100%; max-width: 100%;" })
                        @Html.ValidationMessageFor(model => model.familyTreeTypeId, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-sm-6">
                        <label class="control-label" style="color: #023692">Hubungan&nbsp;Keluarga&nbsp;*</label>
                        @*@Html.DropDownListFor(model => model.familyRelationId, new List<SelectListItem>
                                                {
                                                   new SelectListItem{ Text="Ayah", Value = "1" },
                                                   new SelectListItem{ Text="Ibu", Value = "3" },
                                                   new SelectListItem{ Text="Anak", Value = "4" }
                                                }, "- PIlih -", new { @class = "form-control", @style = "width: 100%; max-width: 100%;" })*@
                        @Html.DropDownListFor(model => model.familyRelationId, (IEnumerable<SelectListItem>)ViewBag.ListRelationTree, "- Pilih -", new { @class = "form-control", @style = "width: 100%; max-width: 100%;" })
                        @Html.ValidationMessageFor(model => model.familyRelationId, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-6">
                        <label class="control-label" style="color: #023692">Nama&nbsp;*</label>
                        @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control", @style = "width: 100%; max-width: 100%;" } })
                        @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-sm-3">
                        <label class="control-label" style="color: #023692">Jenis&nbsp;Kelamin</label>
                        @Html.DropDownListFor(model => model.gender, new List<SelectListItem>
                            {
                               new SelectListItem{ Text="Pria", Value = "1" },
                               new SelectListItem{ Text="Perempuan", Value = "0" }
                            }, "- Pilih -", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.gender, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-sm-3">
                        <label class="control-label" style="color: #023692">Tgl.&nbsp;Lahir&nbsp;(yyyy-mm-dd)</label>
                        <div class='input-group date' id='myDatepicker'>
                            @Html.EditorFor(model => model.dob, new { htmlAttributes = new { @class = "form-control datepicker-dob inline", @type = "date", @style = "width: 100%; max-width: 100%;" } })
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                        @Html.ValidationMessageFor(model => model.dob, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-6">
                        <label class="control-label" style="color: #023692">Pendidikan</label>
                        @Html.EditorFor(model => model.educationLevelId, new { htmlAttributes = new { @class = "form-control", @style = "width: 100%; max-width: 100%;" } })
                        @Html.ValidationMessageFor(model => model.educationLevelId, "", new { @class = "text-danger" })

                    </div>
                    <div class="col-sm-6">
                        <label class="control-label" style="color: #023692">Pekerjaan</label>
                        @Html.EditorFor(model => model.job, new { htmlAttributes = new { @class = "form-control", @style = "width: 100%; max-width: 100%;" } })
                        @Html.ValidationMessageFor(model => model.job, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-12">
                        <label class="control-label" style="color: #023692">Catatan</label>
                        @Html.TextAreaFor(model => model.notes, 5, 40, htmlAttributes: new { @class = "form-control", @style = "width: 100%; max-width: 100%;" })
                        @Html.ValidationMessageFor(model => model.notes, "", new { @class = "text-danger" })
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal-footer">
    <input type="button" title="Batal"
           value="Cancel" class="btn btn-default" id="btn_cancel_form_keluarga"
           data-dismiss="modal" />
    <input type="button" title="Simpan"
           value="Save" class="btn btn-success btn_add_save_keluarga"
           id="btn_add_save_keluarga" />
</div>

<style>
    body {
        font-size: 13px;
    }

    .form-control[readonly] {
        background-color: white;
    }

    .input-group-addon {
        background-color: white;
    }
</style>

<script>
    flatpickr('.datepicker-dob', {
        dateFormat: 'Y-m-d',
        maxDate: "today"
        //maxDate: new Date().fp_incr(-6205) //set min 17th

    });

    $('#familyTreeTypeId').change(function () {
        $.ajax({
            url: '@Url.Action("GetByTreeType", "Keluarga")',
            type: 'get',
            data: { treeTypeId: $(this).val() }, // categoryId ini harus sama sprti d controller
            success: function (result) {
                $("#familyRelationId").html(result);
            }
        });
    });
</script>