﻿@{
    Layout = null;
}

@model IEnumerable<_03.MiniProject234.ModelView.FamilyRelationModelView>

<option value="">- Pilih -</option>

@foreach (var item in Model)
{
    <option value="@item.idRelationType">@item.nameRelationType</option>
}