﻿@model IEnumerable<_03.MiniProject234.ModelView.KeluargaModelView>

<div class="input-group" style="display:flex; align-items:baseline;">
    <h2>Keluarga</h2>
    <a class="btn btn-link button_grid_create_keluarga" title="Create" name="Create">
        <span class="glyphicon glyphicon-plus-sign" style="font-size:26px;color:black"></span>
    </a>
</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.familyRelationId)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dob)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.educationLevelId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.job)
        </th>
        <th></th>
    </tr>
    @if (Model != null)
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.familyRelationId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.gender)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.dob)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.educationLevelId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.job)
                </td>
                <td class="dropdown">
                    <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                        More
                        <span class="caret" style="color:white" />
                    </a>
                    <ul class="dropdown-menu">
                        <li><a id="btn_grid_edit_sertifikasi" name="btn_grid_edit_sertifikasi" title="Edit Sertifikasi" data-id="@item.id">Ubah</a></li>
                        <li><a id="btn_grid_delete_sertifikasi" name="btn_grid_delete_sertifikasi" title="Edit Sertifikasi" data-id="@item.id">Hapus</a></li>
                    </ul>
                </td>
            </tr>
        }

    }

</table>

<style>
    tr:nth-child(odd) > th, th {
        background-color: white;
    }

    a {
        color: #000066;
        text-decoration: none;
    }

    table {
        padding: 20px;
    }

    h2 {
        color: #000066;
        font-weight: bold;
    }
</style>
