﻿@{
    ViewBag.Title = "Home Page";
}

<!-- Button trigger modal -->
<div class="search_bar">
    <input class="form-control mb-4 inline" id="tableSearch" type="text" placeholder="Cari item">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
        Tambah Data
    </button>
    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#exampleModal">
        Reset
    </button> <br /> <hr />
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
        Sort Up
    </button>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
        Sort Down
    </button>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<br />

<div id="table-list">
    <div class="progress progress-striped active"
         style="margin-bottom:0">
        <div class="progress-bar" style="width:100%">

        </div>
    </div>
</div>

@section Scripts{
<script>
    var vjs_loading = '<div class="progress progress-striped active" style="margin-bottom:0"> <div class="progress-bar" style="width:100%"> </div> </div>';

    //Menampilkan data tabel
    $(document).ready(function () {
        ShowList();
    });

    function ShowList() {
        $("#table-list").html(vjs_loading);

        $.ajax({
            url: '@Url.Action("List", "Agama1")',
            type: 'get',
            success: function (result) {
                $("#table-list").html(result);
            }
        });
    }

</script>

}