﻿@model _03.MiniProject234.ModelView.x_sertifikasiModelView

<div class="modal-body" style="width: 450px; height: 130px; margin:auto;">
    @Html.HiddenFor(model => model.id)
    <div class="alert-warning">
        <div class="col-md-3">
            <span class="glyphicon glyphicon-trash" style="color:red; font-size:50px"></span>
        </div>
        <div class="col-md-9">
            <center>
                Anda Yakin menghapus Keahlian
                <br />
                <label>@Html.DisplayFor(model => model.certificate_name)</label> ?
            </center>
        </div>
    </div>
</div>

<div class="modal-footer">
    <input type="button" value="Okay" title="Okay" class="btn btn-primary" id="btn_grid_delete_sertifikasi_confirm" />
    <input type="button" value="Tidak" title="Tidak" class="btn btn-danger" id="btn_cancel_form" data-dismiss="modal" />
</div>
