﻿@model _03.MiniProject234.ModelView.x_sertifikasiModelView

<div class="modal-body" style="margin-left:20px;margin-right:20px">
    <div class="container py-5">
        <div class="col-md-12">
            <form id="form_edit_sertifikasi">
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.id)
                <div class="form-group row">
                    <div class="col-sm-6">
                        <label class="control-label" style="color: #023692">Nama&nbsp;Sertifikasi&nbsp;*</label>
                        @Html.EditorFor(model => model.certificate_name, new { htmlAttributes = new { @class = "form-control", @style = "width: 100%; max-width: 100%;" } })
                        <span class="field-validation-valid text-danger" data-valmsg-for="certificate_name" id="span_certificate_name" data-valmsg-replace="true"></span>

                    </div>
                    <div class="col-sm-6">
                        <label class="control-label" style="color: #023692">Penerbit&nbsp;*</label>
                        @Html.EditorFor(model => model.publisher, new { htmlAttributes = new { @class = "form-control", @style = "width: 100%; max-width: 100%;" } })
                        <span class="field-validation-valid text-danger" data-valmsg-for="publisher" id="span_publisher" data-valmsg-replace="true"></span>

                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-3">
                        <label class="control-label" style="color: #023692">Berlaku mulai</label>
                        @Html.DropDownListFor(model => model.valid_start_month, new List<SelectListItem>
                        {
                           new SelectListItem{ Text="JANUARI", Value = "1" },
                           new SelectListItem{ Text="FEBRUARI", Value = "2" },
                           new SelectListItem{ Text="MARET", Value = "3" },
                           new SelectListItem{ Text="APRIL", Value = "4" },
                           new SelectListItem{ Text="MEI", Value = "5" },
                           new SelectListItem{ Text="JUNI", Value = "6" },
                           new SelectListItem{ Text="JULI", Value = "7" },
                           new SelectListItem{ Text="AGUSTUS", Value = "8" },
                           new SelectListItem{ Text="SEPTEMBER", Value = "9" },
                           new SelectListItem{ Text="OKTOBER", Value = "10" },
                           new SelectListItem{ Text="NOVEMBER", Value = "11" },
                           new SelectListItem{ Text="DESEMBER", Value = "12" }
                        }, "Pilih Bulan", new { @class = "form-control" })
                    </div>
                    <div class="col-sm-3">
                        <label class="control-label">&nbsp;</label>
                        @Html.DropDownListFor(model => model.valid_start_year, (IEnumerable<SelectListItem>)ViewBag.ListTahunMulai, "Pilih Tahun", new { @class = "form-control" })
                    </div>
                    <div class="col-sm-3">
                        <label class="control-label" style="color: #023692">Berlaku Sampai</label>
                        @Html.DropDownListFor(model => model.until_month, new List<SelectListItem>
                        {
                           new SelectListItem{ Text="JANUARI", Value = "1" },
                           new SelectListItem{ Text="FEBRUARI", Value = "2" },
                           new SelectListItem{ Text="MARET", Value = "3" },
                           new SelectListItem{ Text="APRIL", Value = "4" },
                           new SelectListItem{ Text="MEI", Value = "5" },
                           new SelectListItem{ Text="JUNI", Value = "6" },
                           new SelectListItem{ Text="JULI", Value = "7" },
                           new SelectListItem{ Text="AGUSTUS", Value = "8" },
                           new SelectListItem{ Text="SEPTEMBER", Value = "9" },
                           new SelectListItem{ Text="OKTOBER", Value = "10" },
                           new SelectListItem{ Text="NOVEMBER", Value = "11" },
                           new SelectListItem{ Text="DESEMBER", Value = "12" }
                        }, "Pilih Bulan", new { @class = "form-control" })
                        <span class="text-danger" id="untilmonth_error"></span>
                    </div>
                    <div class="col-sm-3">
                        <label class="control-label">&nbsp;</label>
                        @Html.DropDownListFor(model => model.until_year, (IEnumerable<SelectListItem>)ViewBag.ListTahunMulai, "Pilih Tahun", new { @class = "form-control" })
                        <span class="text-danger" id="untilyear_error"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-12">
                        <label class="control-label" style="color: #023692">Catatan</label>
                        @Html.TextAreaFor(model => model.notes, 5, 40, htmlAttributes: new { @class = "form-control", @style = "width: 100%; max-width: 100%;" })
                        <span class="field-validation-valid text-danger" data-valmsg-for="notes" id="span_notes" data-valmsg-replace="true"></span>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal-footer">
    <div class="btn-group" role="group">
        <input type="button" title="Batal"
               value="Cancel" class="btn btn-default" id="btn_cancel_form"
               data-dismiss="modal" style="background-color:orange; color:white; width:100px; background-color: #FF6600"/>
        <input type="button" title="Simpan"
               value="Save" class="btn btn-success"
               id="btn_grid_edit_save_sertifikasi" style="background-color:darkblue; color:white; width:100px; background-color: #000066" />
    </div>
</div>

<style>
    .btn {
        font-size: 16px;
    }
    .btn-default, .btn-success {
        border: none;
    }
</style>