﻿@{
    ViewBag.Title = "Master Sertifikasi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel-group">
    <div class="panel">
        <div class="panel-body">
            <div id="table-list" name="table-list">
                @Html.Partial("List")
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        var vjs_loading = '<div class="progress progress-bar-striped active" style="margin-bottom:0"><div class="progress-bar" style="width:100%"> </div></div>';

        $(document).ready(function () {
            ShowList();
        });

        //Method untuk menampilkan data
        function ShowList() {
            vjs_paged_lastRecordPerPage = $("#paging_size").val() == undefined ? 10 : $("#paging-size").val();
            $("#table-list").html(vjs_loading);
            $.ajax({
                url: '@Url.Action("List","Sertifikasi")',
                type: 'get',
                success: function (result) {
                    $("#table-list").html(result)
                }
            });
        }

    </script>
}

<style>
    .table {
        width: 100%;
        /*margin-bottom: 0px;*/
    }
</style>