﻿@*@model System.Collections.Generic.IEnumerable<_03.MiniProject234.ModelView.x_sertifikasiModelView>*@
@model IEnumerable<_03.MiniProject234.ModelView.x_sertifikasiModelView>

<div class="input-group" style="display:flex; align-items:baseline;">
    <h2>Sertifikasi</h2>
    <a class="btn btn-link button_grid_create_sertifikasi" title="Create" name="Create">
        <span class="glyphicon glyphicon-plus-sign" style="font-size:26px;color:black"></span>
    </a>
</div>
<table class="table">
    <tr style="border-bottom:2pt solid #3B3B88;border-top:2pt solid #3B3B88">
        <th>
            <label class="control-label">NAMA SERTIFIKASI</label>
            @*@Html.DisplayNameFor(model => model.certificate_name)*@
        </th>
        <th>
            <label class="control-label">PENERBIT</label>
        </th>
        <th>
            <label class="control-label">MASA BERLAKU SERTIFIKASI</label>
        </th>
        <th>
            <label class="control-label">#</label>
        </th>
    </tr>

    @if (Model != null)
    {
        @*@Html.HiddenFor(model => model.id)*@
        foreach (var item in Model)
        {
            <tr>
                @Html.HiddenFor(modelItem => item.id)
                <td>
                    @Html.DisplayFor(modelItem => item.certificate_name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.publisher)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.valid_start_year)-@Html.DisplayFor(modelItem => item.valid_start_month) s.d @Html.DisplayFor(modelItem => item.until_year)-@Html.DisplayFor(modelItem => item.until_month)
                </td>
                <td class="dropdown">
                    <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                        More
                        <span class="caret" />
                    </a>
                    <ul class="dropdown-menu">
                        <li><a id="btn_grid_edit_sertifikasi" name="btn_grid_edit_sertifikasi" title="Edit Sertifikasi" data-id="@item.id">Ubah</a></li>
                        <li><a id="btn_grid_delete_sertifikasi" name="btn_grid_delete_sertifikasi" title="Edit Sertifikasi" data-id="@item.id">Hapus</a></li>
                    </ul>
                </td>
            </tr>
        }
    }
</table>

<style>
    table {
        padding: 20px;
    }

    h2 {
        color: #000066;
        font-weight: bold;
    }

    th {
        color: #1F1F78;
    }

    td {
        color: #383887;
    }
</style>